@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(14, 14, 14);
}
.movie-app{
    overflow-x: hidden;
    flex-wrap: nowrap;
}
.details:hover{
    display: flex;
}